option_settings:
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-3bbaa559
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-73997f16
  - namespace: aws:ec2:vpc
    option_name: AssociatePublicIpAddress
    value: true
  - option_name: DB_CONNECTION
    value: prod
  - option_name: QUEUE_DRIVER
    value: prod
  - option_name: CACHE_DRIVER
    value: prod
